h2{
    font-family: 'Ramaraja', serif;
}
.skill{
    width: max-content;
    margin: 0 auto 5rem;
}
.skill li{
    font-size: 13px;
    margin-right: 5px;
}

@media screen and (max-width:480px){
    .skill{
        width: 90%;
    }
    .skill li{
        margin-top: 1rem;
    }
}